body{
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 50%;
    margin: 0 auto;
}

form{
    margin: 40px 0px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputpadrao, form textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: pink;
    color: rgb(94, 94, 94);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.enviar:hover{
    background-color: rgb(250, 137, 156);
    
}

table{
    margin: 20px 0px 40px ;

}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width: 480px){
    .enviar, .inputpadrao{
        width: 100%;
    }
}